/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        space_backspace: space_backspace {
            compatible = "zmk,behavior-mod-morph";
            label = "SPACE_BACKSPACE";
            bindings = <&kp SPACE>, <&kp BACKSPACE>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };
        command_spotlight: command_spotlight {
            compatible = "zmk,behavior-hold-tap";
            label = "COMMAND_SPOTLIGHT";
            bindings = <&kp>, <&spotlight>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
        };
        layers: layers {
            compatible = "zmk,behavior-mod-morph";
            label = "LAYERS";
            bindings = <&mo 1>, <&mo 2>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };
    };

    macros {
        spotlight: spotlight {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE)>;
            label = "SPOTLIGHT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base";
            bindings = <
&none  &kp Q  &kp W  &kp F                              &kp P    &kp B               &kp J      &kp L          &kp U              &kp Y    &kp ESC    &none
&none  &kp A  &kp R  &kp S                              &kp T    &kp G               &kp M      &kp N          &kp E              &kp I    &kp O      &none
&none  &kp Z  &kp X  &kp C                              &kp D    &kp V               &kp K      &kp H          &kp DOT            &kp TAB  &kp ENTER  &none
                     &command_spotlight LEFT_COMMAND 0  &layers  &space_backspace    &kp RSHFT  &kp RIGHT_ALT  &kp RIGHT_CONTROL
            >;
        };

        lower_layer {
            label = "Lower";
            bindings = <
&none  &kp N1      &kp N2    &kp N3    &kp N4        &kp N5      &kp LEFT_PARENTHESIS  &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LESS_THAN    &kp SLASH       &none
&none  &kp DOLLAR  &kp HASH  &kp PLUS  &kp ASTERISK  &kp PIPE    &kp SINGLE_QUOTE      &kp COMMA         &kp DOT         &kp QUESTION     &kp UNDERSCORE  &none
&none  &none       &none     &kp GRAVE &kp EQUAL     &none       &kp LEFT_ARROW        &kp DOWN_ARROW    &kp UP_ARROW    &kp RIGHT_ARROW  &none           &none
                             &trans    &trans        &trans      &mo 2                 &trans            &trans
            >;
        };

        raise_layer {
            label = "Raise";
            bindings = <
&none  &kp N6  &kp N7       &kp N8          &kp N9     &kp N0           &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp GREATER_THAN  &kp BACKSLASH       &none
&none  &kp AT  &kp PERCENT  &kp MINUS       &kp SLASH  &kp AMPERSAND    &kp DOUBLE_QUOTES      &kp SEMICOLON      &kp COLON        &kp EXCLAMATION   &kp RA(UNDERSCORE)  &none
&none  &none   &none        &kp RA(GRAVE)   &kp CARET  &none            &none                  &none              &none            &none             &none               &none
                            &trans          &trans     &trans           &trans                 &trans             &trans
            >;
        };
    };
};

